html,
body {
	height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: "Noto Sans", sans-serif;
}

:root {
	--grey-100: rgb(243, 244, 246);
	--grey-200: rgb(229, 231, 235);
	--grey-400: rgb(156, 163, 175);
}

#mainContent {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

main {
	margin-left: 86px;
	display: flex;
	flex-direction: column;
	padding-bottom: 0;
	flex-grow: 1;
	overflow-y: auto; /* scroll horizontal*/
}

#image1 {
	width: 250px;
	height: 250px;
	margin-right: 32px;
}

#image2 {
	height: 80px;
	width: 80px;
	margin-right: 16px;
}

.playerPart {
	flex: 1;
	display: flex;
}

.playerLeft {
	flex-direction: row;
	align-items: center;
}

.playerCenter {
	flex-direction: row;
	flex-grow: 0;
	align-items: center;
	justify-content: center;
}

.playerRight {
	flex-direction: column;
	align-items: end;
	justify-content: center;
}

#player {
	height: 80px;
	z-index: 1;

	border: 1px solid var(--grey-200);

	display: flex;
	flex-direction: row;
	background: white;

	position: sticky;
	bottom: 0;
}

#hitDescription {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.songsList {
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
}

#insideDesc {
	margin-top: auto;
}

#deezerLogo {
	width: 150px;
	height: 30px;
}

#raaaaLogo {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-right: 16px;
}

#playlist-info {
	display: flex;
	flex-direction: row;
	margin-top: 86px;
	margin-bottom: 48px;
}

#insidePlayer {
	margin-left: 16px;
	margin-right: 16px;
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	vertical-align: middle;
}

.song {
	padding: 16px;
}

.playerButton {
	width: 40px;
	height: 40px;
	margin-left: 16px;
	margin-right: 16px;
}

#queue {
	background: var(--grey-100);
	width: 330px;
	padding: 32px; /* pour le center horizontal et vertical de emptyQueue.....*/
	border-left: 1px solid var(--grey-200);

	position: relative;
	flex-shrink: 0;
}

.emptyQueue {
	color: var(--grey-400);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.title1 {
	font-weight: bold;
	font-size: 48px;
	line-height: 60px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.subtitle1 {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}

.body1 {
	font-size: 16px;
	line-height: 24px;
}

.subtitle2 {
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
}

.body2 {
	font-size: 14px;
	line-height: 21px;
}

.overline {
	font-size: 12px;
	line-height: 18px;
}
